interactive-markers==1.12.0
rosunit==1.15.8
genmsg==0.6.0
tf==1.13.2
topic-tools==1.17.0
rqt-reconfigure==0.5.5
rosmake==1.15.8
diagnostic-analysis==1.11.0
rqt_py_common==0.5.3
rqt_service_caller==0.4.10
rqt_bag==0.5.1
rqt_graph==0.4.14
image-geometry==1.16.2
qt-dotgraph==0.4.2
geneus==3.0.0
rqt-robot-dashboard==0.5.8
dynamic-reconfigure==1.7.3
genpy==0.6.15
rqt_launch==0.4.9
rqt-image-view==0.4.17
rqt-runtime-monitor==0.5.10
smach==2.5.2
rqt_gui==0.5.3
rqt_gui_py==0.5.3
bondpy==1.8.6
sensor-msgs==1.13.1
rqt-rviz==0.7.0
rosgraph==1.17.0
rqt_top==0.4.10
tf2-geometry-msgs==0.7.7
tf-conversions==1.13.2
joint-state-publisher==1.15.1
rqt_py_console==0.4.10
camera-calibration==1.17.0
tf2-ros==0.7.7
joint-state-publisher-gui==1.15.1
rqt_plot==0.4.13
laser_geometry==1.6.7
gennodejs==2.0.2
rqt-console==0.4.12
qt-gui-py-common==0.4.2
python-qt-binding==0.4.4
rosnode==1.17.0
controller-manager-msgs==0.20.0
xacro==1.14.18
rosmaster==1.17.0
rqt_topic==0.4.13
smach-ros==2.5.2
rqt_action==0.4.9
rosparam==1.17.0
message-filters==1.17.0
rqt_msg==0.4.10
tf2-kdl==0.7.7
roslib==1.15.8
rqt_publisher==0.4.10
rqt-moveit==0.5.11
genlisp==0.4.18
rqt_bag_plugins==0.5.1
camera-calibration-parsers==1.12.0
rqt_robot_steering==0.5.12
rqt-logger-level==0.4.12
rostest==1.17.0
rosboost-cfg==1.15.8
rqt_dep==0.4.12
rviz==1.14.25
angles==1.9.13
rqt-tf-tree==0.6.4
actionlib==1.14.0
rospy==1.17.0
controller-manager==0.20.0
rqt_shell==0.4.11
roslz4==1.17.0
rqt-robot-monitor==0.5.15
smclib==1.8.6
rosbag==1.17.0
diagnostic-common-diagnostics==1.11.0
qt-gui==0.4.2
rqt_web==0.4.10
gazebo_ros==2.9.2
roslint==0.12.0
cv-bridge==1.16.2
roswtf==1.17.0
qt-gui-cpp==0.4.2
diagnostic-updater==1.11.0
rqt_pose_view==0.5.11
rosservice==1.17.0
gazebo_plugins==2.9.2
rosmsg==1.17.0
roscreate==1.15.8
tf2-py==0.7.7
resource_retriever==1.12.7
rqt_nav_view==0.5.7
rostopic==1.17.0
catkin==0.8.10
rosclean==1.15.8
gencpp==0.7.0
rqt_srv==0.4.9
roslaunch==1.17.0
nvidia-nvjitlink-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
annotated-types==0.7.0
nvidia-nvtx-cu12==12.4.127
tqdm==4.67.1
idna==3.10
networkx==3.2.1
torch==2.5.1
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cufft-cu12==11.2.1.3
nvidia-cublas-cu12==12.4.5.8
charset-normalizer==3.4.1
MarkupSafe==3.0.2
fsspec==2024.12.0
smmap==5.0.2
Jinja2==3.1.5
nvidia-cusolver-cu12==11.6.1.9
nvidia-nccl-cu12==2.21.5
setuptools==75.8.0
PyYAML==6.0.2
gitdb==4.0.12
numpy==2.0.2
sympy==1.13.1
requests==2.32.3
wheel==0.45.1
pydantic==2.10.5
six==1.17.0
pydantic_core==2.27.2
sentry-sdk==2.19.2
filelock==3.16.1
wandb==0.19.3
urllib3==2.3.0
scipy==1.13.1
click==8.1.8
einops==0.8.0
typing_extensions==4.12.2
omegaconf==2.3.0
hydra-core==1.3.2
certifi==2024.12.14
nvidia-cuda-runtime-cu12==12.4.127
platformdirs==4.3.6
docker-pycreds==0.4.0
nvidia-cusparse-cu12==12.3.1.170
setproctitle==1.3.4
triton==3.1.0
nvidia-cudnn-cu12==9.1.0.70
eval_type_backport==0.2.2
mpmath==1.3.0
psutil==6.1.1
packaging==24.2
pip==24.3.1
antlr4-python3-runtime==4.9.3
GitPython==3.1.44
protobuf==5.29.3
nvidia-curand-cu12==10.3.5.147
